{% extends 'administrador.html.twig' %}


{% block body %}



	<div class="row">
      <ol class="breadcrumb">
        <li><a href="#">
          <em class="fa fa-home"></em>
        </a></li>
        <li class="active">Listado de Materiales</li>
      </ol>
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Listado de Materiales</h1>
      </div>
    </div><!--/.row-->


{% for message in app.flashes('notice') %}
    <div class="alert bg-info">
    <em class="fa fa-lg fa-warning">
    </em>
        {{ message }}
    </div>
{% endfor %}
<table id="" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>   
                <th>Acciones</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
          {% for entity in productos %}

            	<tr>
            		<td>{{ entity.name }}</td>
            		<td>{{ entity.description }}</td>
            		<td>{{ entity.price }} </td>
            		<td><a title = "Editar Material" href="{{ path('material_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a> || <a href="#"  data-toggle="modal" data-target="#exampleModal" data-whatever="{{entity.id}}"><i class="fa fa-tasks"></i> </a> || <a title = "Eliminar Material" href="{{ path('material_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a></td>
            	</tr>
           {% endfor %}

        </tbody>
    </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">N° DE ID</h4>
      </div>
      <div class="modal-body">
        <form>
          
          <input type="hidden" id="idvalue">
          
           <div class="form-group">
            <label for="message-text" class="control-label">Usuario a asignar:</label>
            <select class="form-control" id="emailusuarios">
                <option>Seleccione el Usuario</option>
            {% for usuarios in user %}
                    <option value="{{usuarios.id}}">{{usuarios.email}}</option>
            {% endfor %}
            </select>
          </div>
            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
        <button type="button" class="btn btn-primary" id="enviar-btn" data-dismiss="modal">Procesar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
     $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('N° DE ID ' + recipient)
  modal.find('.modal-body #idvalue').val(recipient)
})

$(document).ready(function() {


	$("#enviar-btn").click(function() {



            var dataarticulo = {idusuario:$("#emailusuarios").val(),idmaterial:$("#idvalue").val()};


		$.ajax({
			type: "POST",
			url: "{{path('asignar_now')}}",
			data: dataarticulo,
			success: function(data) {
		    	alert("Registro Asignado..");
		        
		    }
		});
		
	
	
});

});



</script>
{% endblock %}
