
{% extends 'template.html.twig' %}


{% block body %}

	 
<hr class="featurette-divider">
    
<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="container">
      <div class="row">
        


  {% for entity in productos %}

        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>{{ entity.name }}</h2>
          <p>{{ entity.description }}</p>
          <p><a class="btn btn-default" href="{{ path('pagar_now' , { 'id': entity.id }) }}" role="button" target="_blank">Comprar ahora »</a></p>

           <iframe id="viewer" src="{{ asset('ViewerJS/') }}#..{{ asset('uploads/brochures/') }}{{ entity.image }}" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
        </div><!-- /.col-lg-4 -->
{% endfor %}
        
      </div><!-- /.row -->


     


</div>
      <!-- START THE FEATURETTES -->

     


     
      
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}